language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t wintercherry/prodreact -f Dockerfile.dev .

script:
  - docker run -e CI=true wintercherry/prodreact npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-central-1-131533616774"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $access_key_id
  secret_access_key: $secret_access_key

